<div class = "message-box">
    <div class = "user-date">
      <div class = "user">
        <%= message.user.name %>
      </div>
      <div class = "date">
        <%= l message.created_at %>
      </div>
    </div>
    <div>
      <div class = "message">
        <%= message.content %>
      </div>
    </div>
</div>