<div class = "side-header" >
  <p class = "user-name">ユーザー名</p>
  <div class = "chat-create-btn">
    <P class = "chat-create">チャットを作成する</P>
  </div>
</div>
<div class = "side-body" >
  <div class = "chat-room">
    <a href="#", class="chat-room-name">magicroom</a>
  </div>
</div>
