.wrapper{
  display: flex;
  width: 100vw;
  height: 100vh;
}

.side-bar{
  background-color: #253141;
  width: 300px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.side-header{
  width: 300px;
  height: 100px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-name{
  font-size: 16px;
  color: #FAFAFA;
}

.chat-create-btn{
  border: 1px solid lightblue;
  padding: 14px;
}

.chat-create{
  font-size: 10px;
  color: deepskyblue;
}

.side-body{
  background-color: #2F3E51;
  width: 300px;
  height: calc(100vh - 100px);
  padding: 0 20px;
  overflow: scroll;
}

.chat-room{
  padding: 20px 0 40px;
}

.chat-room-name{
  color: white;
  text-decoration: none;
}

.main-chat{
  background-color: #ffffff;
  width: calc(100vw - 300px);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-header{
  width: calc(100vw - 300px);
  height: 100px;
  padding: 0 40px;
}


.main-body{
  background-color: #FAFAFA;
  width: calc(100vw - 300px);
  height: calc(100vh - 190px);
  padding: 46px 40px 0;
}

.main-footer{
  background-color: #DDDDDD;
  width: calc(100vw - 300px);
  height: 90px;
  padding: 20px 40px;
}